## .NET build outputs
[Bb]in/
[Oo]bj/

## NuGet packages
*.nupkg
.nuget/

## VS files
*.user
*.suo
*.vscode/

## Docker
Dockerfile*
docker-compose*
.dockerignore

## Runtime files
appsettings.*.json
!appsettings.json